html{
  position: relative;
  min-height: 100%;
}
body{
  font-family: Montserrat;
  font-weight: 400;

  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.jumbotron {
  text-align: center;

}

/*footer*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /*background-color: #f5f5f5;*/
}

.footer p{
  color: rgb(41, 182, 229);
}

.footer a{
  color: rgb(41, 182, 229);
}

.container .text-muted {
  margin: 20px 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
}

.thumbnail {
    padding: 0;
    font-size: 3vh;
    border: none;
    padding-top: 1vh;
}

.thumbnail .caption-full {
    padding: 9px;
}

.thumbnail a {
  font-size: 2.5vh;
}

#delete-form{
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

.center-block {
  float:none
}

.image-responsive {
  /*max-width: 50%;
  max-height: auto; */
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.project-category{
  float:none;
  font-size: 4vh;
  margin-bottom: 5vh;
  color: white
}

.hover-container:hover > .hover-image{
  opacity: 0;
}

.hover-container:hover > div{
  opacity: 1;
}

.hidden-text {
  opacity: 0;
  color: black;
  font-size: 2vh;
  position: absolute;
  top: 25%;
  text-align: left;
  padding-right: 5%;
  padding-left: 2%;
}

.hidden-text > .language{
  color: #337ab7;
  font-style: italic;

}

.forgot-link{
  text-align:center;
}

.project-header {
  margin: 2vh auto;
  text-align: center;
  font-size: 5vh;
  color: white
}

